body {
  font-family: Arial, sans-serif;
  background-color:#36454f;
  color: #333;
}

.card {
  background: rgba(255, 255, 255, 0.15);
  backdrop-filter: blur(10px);
  border-radius: 20px;
  padding: 20px;
  margin: 20px;
  height: fit-content;
}

.card-content {
  color: #fff;
}

#developer {
  margin-top: 20px;
  background-color: #36454f;
  color: rgb(255, 255, 255);
  font-size: medium;
  height: 50px;
  width: 1550px;
  margin-left: auto;
  margin-right: auto;
  font-size: 20px;
  overflow: hidden;
  white-space: nowrap;
  
}

#developer h6 {
  animation: moveText 22s linear infinite;
}

@keyframes moveText {
  0% {
      transform: translateX(-100%);
  }
  50% {
      opacity: 1;
  }
  100% {
      transform: translateX(100%);
      opacity: 0;
  }
}

#Heading {
  background-color: #000000;
  color: #fff;
  padding: 10px;
  text-align: center;
  font-size: 20px;
  width: 1540px;
}

#Select-college {
  height: 300px;
  width: 400px;
  color: #fff;
}

#about-group {
  height: 400px;
  width: 400px;
  color: #fff;
}

#modules-available {
  height: 600px;
  width: 400px;
  color: #fff;
}

#College,
#heading-group,
#Modules {
  background-color: #000000;
}
#jaipur-logo{
  margin-top: 10px;
  margin-left: 500px;
  margin-bottom: 20px;
}


#container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Ensure full viewport height */
}

#left-card {
  padding: 20px;
  width: 40%;
  backdrop-filter: blur(10px);
  background-color: rgba(255, 255, 255, 0.1); /* Adjust opacity as needed */
  border-radius: 10px;
  box-shadow: 0 164px 164px rgba(0, 0, 0, 0.3);
  height: 50%;
  transition: transform 0.3s;
}
#left-card:hover {
  transform: scale(1.1); /* Increase size on hover */
}
#right-card {
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

#left-card {
  display: flex;
  flex-direction: column;

  
  padding: 20px;
  width: 30%;
  margin-right: 200px; 
}

#right-card {
  width: 20%; 
  margin-right: 350px;
}




#jaipur-logo img {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 120%;
}

label {
  display: block;
  margin-bottom: 5px;
}

input[type="text"],
input[type="password"],
select {
  width: calc(100% - 20px);
  padding: 10px;
  margin-bottom: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
  
}
#left-card input[type="text"],
#left-card input[type="password"] {
  
  margin-bottom: 35px; /* Adjust the value as needed */
}

#left-card select {
  margin-top: 10px; /* Adjust the value as needed */
}
button {
  width: 35%;
  padding: 15px;
  background-color: aqua;
  color: #000000;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 20px; 
  font-size: larger;
  align-self: center;
  transition: box-shadow 0.3s, transform 0.3s;
}
#left-card select {
  margin-bottom: 20px; /* Add spacing between inputs and dropdown */
}
#uem-pic{
  width: 196%;
  height: 120%;
}
#user-input {
  margin-top: 28px; 
  box-shadow: 0 0 20px 5px aqua; /* Add glow effect */
  transform: scale(1.05); /* Add slight scale effect */
}

button:hover {
  animation: glow 1s infinite alternate; /* Add glow animation */
}

@keyframes glow {
  0% {
    box-shadow: 0 0 10px 5px aqua; /* Start glow effect */
  }
  100% {
    box-shadow: 0 0 20px 10px aqua; /* End glow effect */
  }
}

#Uname, #pword, #pword2,#selec {
  color: aqua;
}
#date,
#time {
  align-items: end;
  margin-bottom: 25px;
  color: chartreuse;
}

#date {
  float: left;
  width: calc(50% - 10px);
}

#time {
  float: right;
  width: calc(50% - 10px);
}

#forget-password {
  margin-top: 10px;
  text-align: center;
}


#option {
  width: 200px;
  height: 80px;
  border-radius: 20%;
  background-color: aqua; 
  border: none;
  color: black;
  font-size: 16px;
  cursor: pointer;
  position: absolute;
  margin-top: 800px;
  margin-left: 0px;
}
.container {
  position: relative; 
  height: 600px;
  width: 1000px;
  background-color: white;
  margin-top: 100px;
  margin-left: 400px;
}

.photo-container {
  position: absolute; 
  top: 10px;
  left: 400px;
  height: 200px;
  width: 150px;
  background-color: white;
}

.info-container {
  position: absolute; 
  top: 220px;
  left: 200px; 
  color: black;
  background-color: white;
  width: calc(100% - 400px);
}

.table-container {
  position: absolute;
  top: 300px; 
  left: 100px; 
  background-color: white;
  width: 800px;
}

.table-container table {
  border-collapse: collapse;
  width: 100%;
}

.table-container th,
.table-container td {
  border: 1px solid black;
  padding: 8px;
  text-align: center;
}

.menu-box {
  display: none;
  position: fixed;
  top: 50%;
  left: 6%;
  transform: translate(-50%, -50%);
  padding: 10px;
}
#menu1{
  width: 10.5%;
  margin-top: -5px;
  margin-left: 5px;
}
